.search-container {
  padding: 20px;
  height: 80px;
  width: 100%;
  padding-left: 60px;
  position: relative;
}
.search-container .search-input {
  display: block;
  width: 100%;
  background-color: #fff;
  border: none;
  height: 40px;
  padding: 0 10px;
  margin-left: -40px;
  float: left;
  line-height: 40px;
}
.search-container .search-btn {
  display: block;
  background-color: transparent;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 0 5px 5px 0;
  float: left;
}
.search-container .search-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);

}
.product-tag {
  float: left;
  padding: 0;
  border-top: 1px solid #fff;
}
.product-tag .active {
  border: 1px dotted #fff;
  background-color: rgba(0, 0, 0, 0.1);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);

}
#menu-root {
  width: 100%;
  list-style: none;
  padding-left: 0;
}
.product-tag .item > div {
  color: #fff;
  position: relative;
}
.product-tag .item > div:hover {
  background-color: rgba(0, 0, 0, 0.1);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19000000,endColorstr=#19000000);
}
.product-tag .item .icon {
  position: absolute;
  color: #fff;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.product-tag #menu-root > .item > div {
  padding: 20px 20px 20px 70px;
}
.product-tag #menu-root > .item > div > a > .icon {
  top: 20px;
  left: 15px;
  font-size: 40px;
}
.product-tag .sub-menu > .item > div {
  padding: 10px 20px 10px 90px;
}
.product-tag .sub-menu > .item > div > a > .icon {
  font-size: 30px;
  top: 20px;
}
.product-tag .item a {
  color: #FFF;
}
.product-tag .item .glyphicon {
  background-color: transparent;
}
.product-tag .item .glyphicon-menu-down,
.product-tag .item .glyphicon-menu-right {
  color: #fff;
  float: right;
  line-height: 40px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.product-tag .item .glyphicon-menu-down,
.product-tag .item .glyphicon-menu-right:hover {
  cursor: pointer;
  opacity: 1.0;
  filter: alpha(opacity=10);
}
.product-tag .item .menu {
  display: inline-block;
  background-color: transparent;
}
.product-tag .item .menu > div:first-child {
  font-weight: 700;
  font-size: 14px;
}
.product-tag .item .menu > div:last-child {
  font-size: 1.2rem;
}
.product-tag .item ul {
  display: none;
  width: 100%;
  list-style: none;
  padding-left: 0;
  background-color: rgba(0, 0, 0, 0.05);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#0c000000,endColorstr=#0c000000);

}
