.regiser-block{
    background-color: #f1f1f1;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 5px #999;
}
.login-block{
    background-color: #f1f1f1;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 5px #999;
}